.navbar-brand img{
    width: 150px;
}
.citem-texto {
    left: 10%;
    bottom: 60%;
    right: unset;
    text-align: right;
  }
@media (min-width: 768px)
        {
            .menu-principal .nav-item.ancho-definido{
                width: 110px;
            }
            
            .redes{
               width: 60px; 
            }
        }
        
        @media (max-width: 767px)
        {
            .navbar-brand img{
                width: 120px;
            }
            
            .navbar-toggler span{
                color: black;
            }
            
            .pie-pagina .menu-inferior{
                width: 767px;
            }
        }